<style type="text/css">


.row {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
p{
  margin: 0;
}

header {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}
header ul {
  padding: 1.2em 0 0.5em;
}
header span {
  padding: 0 0 0 0.5em;
}
header span, header i {
  color: #2B2D42;
}
header i:nth-of-type(2) {
  cursor: pointer;
}

.row {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

/*.product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
  box-shadow: 1px 5px 15px #CCC;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}*/

.product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
    /* box-shadow: 1px 5px 15px #CCC; */
    width: 10em;
    height: 10em;
    border-radius: 3px;
    padding: 8px;
    /*margin: 4px;*/
    margin: 2px;
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    border: 1px solid #d2d2d2;
}
.oddK {
  flex: 0 1 49%;
}
.evenK {
  margin-left: 4px;
}

/*.product--blue {
  background: -webkit-linear-gradient(135deg, #92DCE5 50%, rgba(255, 255, 255, 0.5) 50%);
  background: linear-gradient(-40deg, #92DCE5 57%, rgba(255, 255, 255, 0.5) 50%);
}
.product--orange {
  background: -webkit-linear-gradient(135deg, #EF6F6C 50%, rgba(255, 255, 255, 0.5) 50%);
  background: linear-gradient(-40deg, #EF6F6C 57%, rgba(255, 255, 255, 0.5) 50%);
}
.product--red {
  background: -webkit-linear-gradient(135deg, #E84855 50%, rgba(255, 255, 255, 0.5) 50%);
  background: linear-gradient(-40deg, #E84855 57%, rgba(255, 255, 255, 0.5) 50%);
}
.product--green {
  background: -webkit-linear-gradient(135deg, #70C1B3 50%, rgba(255, 255, 255, 0.5) 50%);
  background: linear-gradient(-40deg, #70C1B3 57%, rgba(255, 255, 255, 0.5) 50%);
}
.product--yellow {
  background: -webkit-linear-gradient(135deg, #E8DB7D 50%, rgba(255, 255, 255, 0.5) 50%);
  background: linear-gradient(-40deg, #E8DB7D 57%, rgba(255, 255, 255, 0.5) 50%);
}
.product--pink {
  background: -webkit-linear-gradient(135deg, #FF386D 50%, rgba(255, 255, 255, 0.5) 50%);
  background: linear-gradient(-40deg, #FF386D 57%, rgba(255, 255, 255, 0.5) 50%);
}*/
.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
  max-width: 110%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}
.product_inner p {
  /*color: rgba(255, 255, 255, 0.9);*/
  color: #929292;
  font-size: 11px;
}
.product_inner button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #FFF;
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  -webkit-transition: background ease-in .25s;
  transition: background ease-in .25s;
}
.product_inner button:hover {
  background: white;
  color: #2B2D42;
}
.product_inner button:before {
  font-family: FontAwesome;
  content: '\f07A';
  color: #FFF;
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em;
}
.product_inner button:hover:before {
  color: #2B2D42;
}
.product_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em;
}

</style>


<ion-view title="Syze Dielli">
  <ion-nav-buttons side="right">
    <!-- <button ng-hide="itemchecked" style="background:none;border:none;display:block;margin:0 auto;" data-ng-click="itemchecked=true"><i style="color: #fff;font-size: 28px;"  class="icon ion-ios-toggle-outline" s></i></button>
    <button ng-show="itemchecked" style="background:none;border:none;display:block;margin:0 auto;" data-ng-click="itemchecked=false"><i style="color: #fff;font-size: 28px;" class="icon ion-ios-toggle" s></i></button> -->
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="filter">
      <div class="row responsive-sm">
        <div class="search-container" style="background-color: #fff;">
          <div class="bar bar-header item-input-inset" style="">
            <label class="item-input-wrapper textbox-search" >
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" placeholder="Kërko Markë, Model, Kolor, Përmasë" ng-model="searchh">
            </label>
          </div>
          

          <div ng-hide="data.shfaq" style="" data-ng-click="shfaqF()" class="cmimiFilter2">Filtrat<i style="color: #000000;padding-left: 5px;"  class="icon ion-ios-arrow-down" s></i></div>
          <div ng-show="data.shfaq" style="color: #43cee6;" data-ng-click="shfaqF2()" class="cmimiFilter2">Filtrat<i style="color: #43cee6;padding-left: 5px;"  class="icon ion-ios-arrow-up" s></i></div>

          <div ng-show="shfaqFiltraTag" class="row" style="margin-top: -10px;">
          <span ng-hide="fshihCmimeVar" style="margin-top: 15px;" data-ng-click="data.shfaq=false" class="filterTag">Cmimi: {{slider.minValue}}-{{slider.maxValue}} LEK<i ng-click="fshiCmimiFilter()" style="padding-left: 5px;color: #EF6F6C;text-align: right;margin-left: 5px;margin-right: 5px;"  class="icon ion-close-round" s></i></span>

          

          <span ng-hide="fshihGjiniaVar" style="margin-top: 15px;" data-ng-click="data.shfaq=false" class="filterTag">Gjinia: <span ng-repeat="gjinia in checkResultsGjinia">{{gjinia}} </span><i  ng-click="fshiGjinia2Filter()" style="padding-left: 5px;color: #EF6F6C;text-align: right;margin-left: 5px;margin-right: 5px;"  class="icon ion-close-round" s></i></span>

          <span ng-hide="fshihFormaVar" style="margin-top: 15px;" data-ng-click="data.shfaq=false" class="filterTag">Forma: <span ng-repeat="forma in formatZgjedhur">{{forma}} </span><i  ng-click="fshiFormaFilter()" style="padding-left: 5px;color: #EF6F6C;text-align: right;margin-left: 5px;margin-right: 5px;"  class="icon ion-close-round" s></i></span>


          <span ng-hide="fshihMarkaVar" style="margin-top: 15px;" data-ng-click="data.shfaq=false" class="filterTag">Marka: <span ng-repeat="marka in markatZgjedhur">{{marka}} </span><i ng-click="fshiMarkaFilter()" style="padding-left: 5px;color: #EF6F6C;text-align: right;margin-left: 5px;margin-right: 5px;"  class="icon ion-close-round" s></i></span>

          </div>



        </div>
      </div>


            <div ng-show="data.shfaq" class="item item-text-wrap" style="text-align: center;">


<div>
    <div id="accordion" simple-accordion toggle-speed="fast" toggle-easing="linear" slide-up-speed="fast" slide-up-easing="linear">
         <h4 class="accordion-toggle cmimiFilter" data-ng-click="shfaqCmimiRender()">Cmimi <i style="color: #000000;padding-left: 5px;"  class="icon ion-ios-arrow-down" s></i></h4>

        <div class="accordion-content default">
                <rzslider rz-slider-model="slider.minValue"
                              rz-slider-high="slider.maxValue"
                              rz-slider-options="slider.options"> 
                </rzslider>
        </div>
         <h4 class="accordion-toggle cmimiFilter">Gjinia <i style="color: #000000;padding-left: 5px;"  class="icon ion-ios-arrow-down" s></i></h4>

        <div class="accordion-content default">
            <div class="btn-group klaseVecimi">
                <label class="btn btn-primary notActive" ng-model="checkModelGjinia.Woman" uib-btn-checkbox>Femer</label>
                <label class="btn btn-primary notActive" ng-model="checkModelGjinia.Man" uib-btn-checkbox>Mashkull</label>
                <label class="btn btn-primary notActive" ng-model="checkModelGjinia.Unisex" uib-btn-checkbox>Unisex</label>
            </div>
            <!-- {{checkResultsGjinia}} -->
        </div>
         <h4 class="accordion-toggle cmimiFilter">Forma <i style="color: #000000;padding-left: 5px;"  class="icon ion-ios-arrow-down" s></i></h4>


        <div class="accordion-content default">
              <ion-list class="marka" >

              <ion-checkbox ng-repeat="forma in formaSyzesh" ng-model="filter[forma]" ng-change="printC()">{{forma}}</ion-checkbox>


            </ion-list>
            <!-- {{filter}} -->
        </div>

        <h4 class="accordion-toggle cmimiFilter">Marka <i style="color: #000000;padding-left: 5px;"  class="icon ion-ios-arrow-down" s></i></h4>


        <div class="accordion-content default">
            <!-- <ion-scroll on-scroll="checkScroll()" zooming="true" delegate-handle="scroller" direction="y" style="height: 200px"> -->
              <ion-list class="marka" >

              <ion-checkbox ng-repeat="marka in markaSyzesh" ng-model="filterM[marka]" ng-change="getMarka()">{{marka}}</ion-checkbox>


            </ion-list>
             <!-- </ion-scroll> -->
             <!-- <div ng-show="shfaqPoshte" class="arrow bounce"></div> -->
        </div>
    </div>
</div>
            <!-- <div class="btn-group klaseVecimi">
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Circle" uib-btn-checkbox>Circle</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Square" uib-btn-checkbox>Square</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Oval" uib-btn-checkbox>Oval</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Circle" uib-btn-checkbox>Circle</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Square" uib-btn-checkbox>Square</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Oval" uib-btn-checkbox>Oval</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Circle" uib-btn-checkbox>Circle</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Square" uib-btn-checkbox>Square</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Oval" uib-btn-checkbox>Oval</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Circle" uib-btn-checkbox>Circle</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Square" uib-btn-checkbox>Square</label>
                <label class="btn btn-primary notActive" ng-model="checkModelForma.Oval" uib-btn-checkbox>Oval</label>
                {{checkResultsForma}}
            </div> -->
            
<!--             <div class="cmimiFilter" style="margin-top: 25px;">Gjinia</div>
            <hr style="width: 30%;text-align: center;margin-bottom: 0px;">
            <div class="radios">
                <input type="radio" name="rGroup" value="Woman" id="r1" ng-model="data.gjinia" ng-init="data.gjinia = ''" />
                <label class="radio" class="10:00-10:20" name="10:00-10:20" for="r1">Woman</label>
                <input type="radio" name="rGroup" value="Man" id="r2" ng-model="data.gjinia" ng-init="data.gjinia = ''"/>
                <label class="radio" id="10:20-10:40" name="10:20-10:40" for="r2">Man</label>
            </div> -->


<!--             <div class="cmimiFilter" style="margin-top: 25px;">Marka</div>
            <hr style="width: 30%;text-align: center;margin-bottom: 0px;">

            <ion-scroll on-scroll="checkScroll()" zooming="true" delegate-handle="scroller" direction="y" style="height: 200px">
              <ion-list class="marka" >

              <ion-checkbox ng-repeat="marka in markaSyzesh" ng-model="filter" >{{marka}}</ion-checkbox>


            </ion-list>
             </ion-scroll>
             <div ng-show="shfaqPoshte" class="arrow bounce"></div> -->
            
            <!-- {{data.ora}} -->

            <!-- <div class="cmimiFilter" style="margin-top: 20px;">Marka</div>
            <hr style="width: 30%;text-align: center;margin-bottom: 10px;">
            <div class="btn-group klaseVecimi">
                <label class="btn btn-primary notActive" ng-model="checkModel.Rayban" uib-btn-checkbox>Ray Ban</label>
                <label class="btn btn-primary notActive" ng-model="checkModel.Police" uib-btn-checkbox>Police</label>
                <label class="btn btn-primary notActive" ng-model="checkModel.Emporio" uib-btn-checkbox>Emporio Armani</label>
                {{checkResultsForma}}
            </div> -->

            <div style="margin-top: 20px;">
              <button class="button button-small button-calm" data-ng-click="filtroProduktet()">Filtro</button>
              <button class="button button-small button-assertive" data-ng-click="data.shfaq=false">Cancel</button>
<!--               <label class="notActive2">Filtro</label>
              <label>Cancel</label> -->
            </div>


            


            



                <style type="text/css">
                  .notActive2{
                    background-color: #0db9f0;
                    padding: 7px;
                    color: #fff;
                    border-radius: 2px;
                  }
                  .notActive{
                    background-color: #cacaca;
                    padding: 5px;
                    color: #fff;
                    border-radius: 2px;
                  }
                  .klaseVecimi .active{
                    background-color: #337ab7;
                  }

                  .radios input[type=radio]:checked + .radio {
                      background-color: #337ab7;
                      /*border: 5px solid red;*/
                  }

                  .radios .radio {
                      background-color: #cacaca;
                      display: inline-block;
                      width: auto;
                      height: auto;
                      padding: 5px;
                      text-align: center;
                      color: #fff;
                      font-size: 14px;
                      border-radius: 5px;
                      font-weight: normal;
                  }
                </style>
            </div>


    </div>

    <div class='row' >
        <div class='row cmimiFilter2' ng-show="skaRezultat" >Filtrat nuk nxorren asnje rezultat. Produktet jane te njejte.</div>
      <div ng-repeat="syzet in syzeD | filter:searchh" ng-class="{true: 'oddK'}[$last%2 == 1]" class='product--blue {{klasaSfond[ktheNgjyre($index)]}}'>
        <a style="text-decoration: none;" href="#/app/produkte/{{syzeD[$index].kodartikulli}}">
        <div class='product_inner'>
        
        <img src='http://maxoptika-app.com/maxoptikaFTP/{{syzeD[$index].kodartikulli}}_list.png' width='300'>
          <!-- <img src='http://maxoptika-app.com/maxoptikaFTP/{{syzeD[$index].kodartikulli}}_front.png' width='300'> -->
          <div style="position: absolute;bottom: 0px;margin-left: auto;margin-right: auto;left: 0;right: 0;">
          <p class="produkteShkrim">{{syzeD[$index].pershkrimartikulli}}</p>
          <!-- <p>{{syzeD[$index].grupi}}</p> -->
          <p class="produkteShkrim">{{syzeD[$index].cmimilek}} {{syzeD[$index].monedhalek}}</p>
          <!-- <button>Add to basket</button> -->
          </div>
        </div>
        </a>
        <!-- <div class='product_overlay'>
          <h2>Added to basket</h2>
          <i class='fa fa-check'></i>
        </div> -->
      </div>
    </div>









      <!-- <div class="item item-avatar">
       <img src="pics/1.jpg"/>
         <a href="#/app/produkte/{{syzet.kodartikulli}}"><h2><b>{{syzet.kodifikimartikulli2}}</b></h2></a>
        <h2>{{syzet.pershkrimartikulli}}{{gjinia}}</h2>
        <p>{{syzet.grupi}}</p>
        <button style="background:none;border:none;" data-ng-click="addToWishlist($event)"><i id="{{syzet.kodartikulli}}" class="icon ion-heart"></i></button>
      </div> -->
    <!-- </div> -->


  <!-- <br><br><br>--><br><br><br> 
    <ion-infinite-scroll
    ng-if="moreDataCanBeLoaded"
    on-infinite="loadNextProducts()"
    distance="1%" immediate-check="false">
  </ion-infinite-scroll>
  <br><br><br><br><br><br>
  </ion-content>
  <!--<div class="bar bar-footer bar-balanced">
    <div class="title" style="text-align: left;">
      MAX OPTICA<sup>&reg;</sup>
    </div>
    <div class="title" style="text-align: right;">
      DEA
    </div>
  </div>-->
  <div class="tabs tabs-icon-top">
    <a class="tab-item active" href="#/app/kreu">
      <i class="icon ion-ios-home-outline"></i>
      Kreu
    </a>
    <!-- <div style="border-right:1px solid #d12127;height: 70%;margin: auto 0px;opacity: 0.5;"></div> -->
    <a class="tab-item active" href="#/app/sherbime">
      <i class="icon ion-ios-briefcase-outline"></i>
      Sherbime
    </a>
    <!-- <div style="border-right:1px solid #d12127;height: 70%;margin: auto 0px;opacity: 0.5;"></div> -->
    <a ng-show="shportlistItemsLength != null" class="tab-item active" href="#/app/shporta">
      <i class="icon ion-ios-cart-outline badge-container" style="margin-left: -10px;"><span class="badge badge-assertive">{{shportlistItemsLength}}</span></i>
      Shporta
    </a>
    <a ng-show="shportlistItemsLength == null" class="tab-item active" href="#/app/shporta">
      <i class="icon ion-ios-cart-outline badge-container" ><span class="badge badge-assertive">{{shportlistItemsLength}}</span></i>
      Shporta
    </a>
    <!-- <div style="border-right:1px solid #d12127;height: 70%;margin: auto 0px;opacity: 0.5;"></div> -->
    <!-- <a ng-show="wishlistItemsLength != null" class="tab-item active" href="#/app/wishlist">
      <i class="icon ion-ios-heart-outline badge-container" style="margin-left: -10px;"><span class="badge badge-assertive">{{wishlistItemsLength}}</span></i>
      Wishlist
    </a> -->
    <!-- <a ng-show="wishlistItemsLength == null" class="tab-item active" href="#/app/wishlist">
      <i class="icon ion-ios-heart-outline badge-container" ><span class="badge badge-assertive">{{wishlistItemsLength}}</span></i>
      Wishlist
    </a> -->
    <a class="tab-item active" href="#/app/sherbime/try-on">
      <i class="icon ion-ios-glasses-outline" style="font-size: 35px;margin-top: 2px;"></i>
      <p style="margin-top: 8px;">Try On</p>
    </a>
    
    <!-- <div style="border-right:1px solid #d12127;height: 70%;margin: auto 0px;opacity: 0.5;"></div> -->
    <a class="tab-item active" href="#/app/profile">
      <i class="icon ion-ios-person-outline"></i>
      Profili
    </a>
  </div>
</ion-view>
